<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %red(%date{yyyy-MM-dd HH:mm:ss}) %highlight(%-5level) %replace(%blue(%X{module})){'^$',''}%red([%thread]) %boldBlue(%logger{50}[%L]) %cyan(%msg%n)
            </pattern>
        </encoder>
    </appender>

    <!-- 默认输出 -->
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>