<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="jdbc.properties"/>  <!-- 加载外部配置文件 -->
    <settings>  <!-- 字段小驼峰转下划线支持 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <package name="cc.pineclone.server.domain.entity"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>  <!-- 使用 JDBC 事务管理 -->
            <dataSource type="POOLED">  <!-- SQLite 数据源 -->
                <property name="driver" value="org.sqlite.JDBC"/>
                <property name="url" value="jdbc:sqlite:${jdbc.sqlite.path}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <package name="cc.pineclone.mapper"/>
    </mappers>
</configuration>